@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

#authorDropdown {
    width: 580px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
}

#recDropdown {
    width: 580px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
}

#letter {
    background-color: lightblue;
    color: #333;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
    font-size: 16px;
    line-height: 1.5;
}

#letter div {
    font-weight: bold;
    margin-top: 20px;
}

.submitLetter {
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

.submitLetter:hover {
    background-color: gold;
}

#letterTop {
    border: 2px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  
}

#letterTop:focus {
    border: 2px solid blueviolet;
    outline: none;
}

#topicName {
    display: inline-block;
  background-color: #e6e6e6;
  border-radius: 20px;
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 0.8em;
  font-weight: bold;
}

